html,
body {
  height: 100%;
  color: #af1818;
}

html {
  display: table;
  margin: auto;
}

body {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 246, 233);
  background-image: url("img/redcross2.png");
  font-family: monospace;
}

.boxy {
  border-width: 3px;
  border: 2px solid #af1818;
}

#main {
  background-color: rgb(254, 250, 244);
  margin: 40px;
  padding: 40px;
  border: 4px solid #af1818;
  border-radius: 10px;
}